.input {
  border: 1px solid #e8e8e8;
  line-height: 22px;
  color: #454545;
  font-size: 14px;
  line-height: calc(22 / 14);
  width: 100%;
  min-height: 48px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: white;
}
.input::-webkit-input-placeholder {
  color: #ccc;
}
